@use '../scss/theme/colors';
@use '../scss/theme/typography';

* {
    padding: 0;
    margin: 0;
}

.booksComponent {
    display: flex;
    align-items: center;
    flex-direction: column;

    #title {
        color: colors.on-surface();
        @include typography.headline-medium();
        
        margin-top: 10px;

        @media screen and (max-width: 599px) {
            @include typography.headline-small();
        }
    }
    
    .butttonMedia {
        display: flex;
        gap: 105px;

        @media screen and (max-width: 1299px) {
            gap: 55px;
        };
    
        @media screen and (max-width: 599px) {
            justify-content: space-around;
            gap: 6px;
            margin-top: 10px;
        };
        @media screen and (max-width: 435px) {
            flex-direction: column;
            gap: 0px;
        };
    
        #button {
            background-color: colors.surface();
            color: colors.primary();
            height: 40px !important;
            border-radius: 20px;
            margin: 15px 0px 10px 0px;
            padding: 0px 24px;

            @media screen and (max-width: 599px) {
                margin: 0px 0px 10px 0px;
            };
        }
    }
    
    .list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        width: 750px;
        height: 56px;
        padding: 8px 0px 8px 0px;
        margin: 8px 0px;
    
        border-radius: 8px;
    
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
    
        background-color: colors.surface();
    
        position: relative;
        isolation: isolate;
    
        &:before {
            content: '';
            position: absolute;
            border-radius: 8px;
            inset: 0;
            opacity: var(--state-layer-opacity, 0);
            background-color: colors.on-surface();
            z-index: -1;
        }
    
        &:hover {
            --state-layer-opacity: .08;
        }
    
        @media screen and (max-width: 1299px) {
            
            width: 570px;
        };
    
        @media screen and (max-width: 599px) {
            width: 100%;
        };
    
        .book {
            display: flex;
            flex-direction: column;
            padding-left: 16px;
            
            span {
                color: colors.on-surface-variant();

                @include typography.body-medium;
    
                @media screen and (max-width: 1299px) {
                    @include typography.body-small;
                };

                @media screen and (max-width: 599px) {
                    max-height: 30px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            p {
                color: colors.on-surface();
                
    
                @include typography.body-large;
    
                @media screen and (max-width: 1299px) {
                    @include typography.body-medium;
                };
    
                @media screen and (max-width: 599px) {
                    @include typography.body-small;
                };
            }
        }
    
        .button {
            align-items: center;
            padding: 0px 24px 0px 16px;
    
            .mat-icon {
                color: colors.on-secondary-container();
            }
        }
    }
}