<div class="newsPage">
    <h1>Свежие новости от наших коллег</h1>

    <div class="list">
        <a href="https://readrate.com/rus/news/posle-rossii-sovremennoe-zvuchanie-emigrantskoy-poezii-nachala-xx-veka" target="_blank">
            <div class="news">
                <span>«После России»: современное звучание эмигрантской поэзии начала XX века</span>
                <p>Российские музыканты спустя сто лет...</p>
            </div></a>
    </div>

    <div class="list">
        <a href="https://readrate.com/rus/news/fandorin-azazel-novyy-serial-pro-lyubimogo-syshchika" target="_blank">
            <div class="news">
                <span>«Фандорин. Азазель» – новый сериал про любимого сыщика</span>
                <p>Прочтение, новое во всех смыслах...</p>
            </div></a>
    </div>

    <div class="list">
        <a href="https://readrate.com/rus/news/top-10-samykh-ozhidaemykh-knig-yanvarya-2023" target="_blank">
            <div class="news">
                <span>ТОП-10 самых ожидаемых книг января-2023</span>
                <p>Новая книга Алексея Иванова...</p>
            </div></a>
    </div>

    <div class="list">
        <a href="https://readrate.com/rus/news/albert-eynshteyn-tsitaty-odnogo-iz-velichayshikh-umov-vsekh-vremen" target="_blank">
            <div class="news">
                <span>Альберт Эйнштейн: цитаты одного из величайших умов всех времён</span>
                <p>Высказывания Эйнштейна подкупают...</p>
            </div></a>
    </div>
</div>
