<div class="mainPage">
    <h1 id="title">Книги выбранные нашей редакцией</h1>

    <div class="recomendBooks">
        <div class="book" >
            <img src="https://s1.livelib.ru/boocover/1003317453/200x305/3bd6/boocover.jpg" alt="Кажется с картинкой что то случилось(">
            <div class="bookText">
                <span>Гарри Поттер и узник Азкабана</span>
                <p>Джоан Роулинг</p>
                </div>
        </div>
    
        <div class="book" >
            <img src="https://s1.livelib.ru/boocover/1000966838/200x305/7df1/boocover.jpg" alt="Кажется с картинкой что то случилось(">
            <div class="bookText">
                <span>Зелёная миля</span>
                <p>Стивен Кинг</p>
                </div>
        </div>
    
        <div class="book" >
            <img src="https://s1.livelib.ru/boocover/1003648088/200x305/c980/boocover.jpg" alt="Кажется с картинкой что то случилось(">
            <div class="bookText">
                <span>Крестный отец</span>
                <p>Марио Пьюзо</p>
                </div>
        </div>

        <div class="book" >
            <img src="https://s1.livelib.ru/boocover/1002217446/200x305/518c/boocover.jpg" alt="Кажется с картинкой что то случилось(">
            <div class="bookText">
                <span>Граф Монте-Кристо</span>
                <p>Александр Дюма</p>
                </div>
        </div>
    </div>
</div>
  